

*{
    margin: 0;
}

#navbar{
    width: 100%;    /* The width is the width of the web page */
    height: 80px;
    background-color: #006d77;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
    color: #ced4da;
}

h3{
    font-size: 30px;
}

#navbar a{
    height: 20px;
    width: 60px;
    text-decoration: none;
    background-color: #ffddd2;
    color: #006d77;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#navbar h3{
    display: flex;
    align-items: center;
}

body{
    background-color: #e29578;
}

h2{
    color:#ffddd2;
    padding: 4px;
    font-size: 30px;
    margin: 0;
}


#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 800px;
    border: 7px solid #006d77;
    border-radius: 30px;
    margin: 10px 0;

}

#coffitivity{
    width: 172px;
    height:57px;
    font-size: 10px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}

#my_body{
    height: 200px;
    width: 500px;
    background-color: #ffddd2;
    color:#006d77;
    overflow: scroll;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

#audioplayer{
    display: flex;
    align-items: center;
}
