<<<<<<< HEAD
body {
    background-color:white;
    color:black;
}

.dark_mode {
    background-color:black;
    color:white;
}

=======
>>>>>>> main
#container {
    max-width:900px;
    height:600px;
    background-image:url('/static/img/pages.jpeg');
    padding:20px;
    margin: 50px auto;
<<<<<<< HEAD
    border-radius:5px;
}
=======
}
>>>>>>> main
