body {
    background-color:white;
    color:black;
}

.dark_mode {
    background-color:black;
    color:white;
}

#container {
    max-width:900px;
    height:600px;
    padding:20px;
    margin: 50px auto;
    border-radius:5px;
}
