body {
    background-color:white;
    color:black;
}

.dark_mode {
    background-color:black;
    color:white;
}

#viewerCanvas{
    text-align:center;
    display:none;
}
#hide{
    display:none;
}

.author{
    list-style-type: none;
}