$firstColor: rgb(0, 109, 119);
$secondColor: rgb(226, 149, 120);
$thirdColor: rgb(255, 221, 210);
$fourthColor: rgb(98, 161, 167);

$textDark: rgb(23, 25, 27);
$textLight: rgb(206, 212, 218);

$darkMode:rgb(23, 25, 27);

$headerFont: 'Playfair Display', serif;
$infoFont: 'Montserrat', sans-serif;