$firstColor: rgb(0, 109, 119);
$secondColor: rgb(226, 149, 120);
$thirdColor: rgb(255, 221, 210);
$fourthColor: rgb(0, 109, 119);

$textDark: rgb(73, 80, 87);
$textLight: rgb(206, 212, 218);

$headerFont: 'Playfair Display', serif;
$infoFont: 'Montserrat', sans-serif;